* {
	margin:0;
	padding:0;
	outline:0;
}
body {
	line-height:1.3;
	font-family:Arial, Helvetica, Sans-Serif;
	color:#ccc;
	background: linear-gradient(rgb(31, 30, 30),rgb(126, 123, 123),rgb(46, 40, 40)) ;
}
a {
	color:#e7b038;
	text-decoration:underline;
	font-size: 12px;
	cursor:pointer;
	padding-right: 10px;
}
a:hover {
	text-decoration:none;
}
a img {
	border:0;
}
input, textarea, select {
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
}
textarea {
	overflow:auto;
}
.cl {
	display:block;
	height:0;
	font-size:0;
	line-height:0;
	text-indent:-4000px;
	clear:both;
}
.notext {
	font-size:0;
	line-height:0;
	text-indent:-4000px;
}
.left, .alignleft {

	display:inline;
}
.right, .alignright {
	
	display:inline;
}
.text-right {
	text-align:right;
}
h2 {
	font-size :16px;
	padding-left: 10px;
	color:#f2a223;
	font-weight:bold;
}
h3 {
	font-size:14px;
	color:#fff;
	font-weight:bold;
}
h4 {
	font-size:14px;
	color:#f3b12b;
	font-weight:bold;
}
#shell {
	
	margin:0 auto;
}
#header {


}
h1#logo {
padding-right: 20px;
padding-top: 10px;
	
	font-size: 30px;

	font-weight: 700;
	font-family: 'Aboreto', cursive;
}

	
	
.social {
	
	width:160px;
	padding-top:11px;
}
.social span {
	
	display:inline;
	font-size:10px;
	color:#4043fb;
	font-weight: 400;
	
	line-height:16px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	padding-right:10px;
}
.social ul {
	list-style:none;
}
.social ul li {
	
	display:inline;
	width:16px;
	padding-right:2px;
}
.social ul li a {
	
	display:inline;
	width:16px;
	height:16px;
	background:url('images/social.gif') no-repeat 0 0;
	font-size:0;
	line-height:0;
	text-indent:-4000px;
}
.social ul li a.facebook {
	background-position:-18px 0;
}
.social ul li a.vimeo {
	background-position:-36px 0;
}
.social ul li a.rss {
	background-position:-54px 0;
}
#navigation {
	padding-top: 30px;
	display: flex;
}
#navigation ul {
	list-style:none;
}
#navigation ul li {
	
	display:inline;
	padding-left:29px;
}
#navigation ul li a {
	font-size:14px;
	font-weight:bold;
	color:#fff;
	text-decoration:none;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#navigation ul li a.active, #navigation ul li a:hover {
	color:#f53232;
}
#sub-navigation {
	
	top: 0;
	display:flex;
	flex-direction: row;
	border-top:1.5px solid rgb(255, 255, 255);
	border-bottom:1.5px solid rgb(242, 238, 238);
	padding:8px 0;
	justify-content: space-around;
	
}
#sub-navigation ul {
	list-style:none;
	padding-left: 10px;
	display: flex;
	flex-wrap: wrap;
}
#sub-navigation ul li {
	
	display:inline;
	padding-right:23px;
}
#sub-navigation ul li a {
	font-size:14px;
	font-weight:bold;
	color:rgb(225, 225, 225);
	line-height:24px;
	text-decoration:none;
}
#sub-navigation ul li a:hover {
	text-decoration:underline;
}
#search {
	
	margin:0 0 0 auto;
	display: flex;
	justify-content: center;
}
#search label {
	display:inline;
	font-size:14px;
	font-weight:bold;
	color:#fff;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	line-height:24px;
	padding-right:6px;
}
#search .search-field {
	
	border:1px solid #ffffff;
	background:rgb(245, 241, 241);
	color:#000000;
	padding:2px 0 2px 2px;
	border-radius: 9px;
	
}
#search .search-button {
	font-size:14px;
	font-weight:bold;
	border:0;
	background:none;
	color:#fff;
	cursor:pointer;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#main {
	border-bottom:1px solid rgb(231, 230, 230);
}
.z {display: flex;
	justify-content: center;
	gap: 25px;
	
}
.box {
	display: flex;
	flex-direction: column;
	
	border-bottom: 1px solid rgb(245, 245, 245);
	padding-top:5px;
	

}
.e{
	display: flex;
	flex-direction: row;
}
.box .head {
	
	padding-top:14px;
	padding-bottom:11px;
}
.box .head h2 {
	
	display:inline;
}
.box .movie {
	width:152px;
	
	padding-left:  10px;
}
.movie-image {

	width:152px;
	height:214px;
	position:relative;
}
.movie-image img {
	width:152px;
	height:210px;
}
.movie-image a {
	
	display:inline;
	width: 152px;
	height:214px;
	position:relative;
	z-index:2;
}
.play {
	position:absolute;
	top:0;
	left:0;
	width:152px;
	height:214px;
	background:url('images/image-hover.png');
	display:block;
	z-index:5;
	cursor:pointer;
	display:none;
}
.movie span.name {
	font-weight:bold;
	color:#fff;
	font-size:14px;
	text-align:center;
	padding-top:160px;
	display:block;
}
.box .last {
	padding:0;
}
.rating {
	
	
	padding-top:8px;
}
.rating p {
	
	font-size:10px;
	color:#fff;
	font-weight:bold;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.rating .stars {
	
	width:60px;
	height:11px;
	background:url('images/stars.gif') no-repeat 0 0;
	margin-left:2px;
}
.rating .stars-in {
	width:48px;
	display:inline;
	background:url('images/stars.gif') no-repeat 0 bottom;
	position:absolute;
	height:11px;
	font-size:0;
	line-height:0;
	text-indent:-4000px;
	
}
.comments {
	background:url('images/comments.gif') no-repeat 0 center;
	padding-left:12px;
	float:right;
}
#news {
	padding-left: 10px;
	
}
#news .head {
	
	padding-top:11px;
	padding-bottom:14px;
}
#news h3, #coming h3 { }
	
#coming {
	

}
#coming .head {
	
	padding-top:11px;
	padding-bottom:14px;
}
#coming .head strong {
	color:#ff361a;
}
#coming .content {
	min-height:130px;
	height:auto !important;
	height:130px;
	padding-bottom:20px;
}
#coming .content h4 {
	padding-bottom:3px;
}
.content {
	padding-bottom:28px;
}
.content .date {
	font-size:10px;
	color:#fff;
}
.content img {
	
	width:68px;
	padding-right:8px;
}
.content p {
	font-size:13px;
	color:#fff;
	line-height:16px;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.content a {
	font-size:11px;
}
#footer {
	display: flex;
	justify-content: center;
	padding:15px 0 0 0;
	font-size:10px;
}
#footer, #footer a {
	color:#9c9c9c;
	text-decoration:none;
}
#footer a:hover {
	text-decoration:none;
}
#footer p {
	margin:0;
	padding:0 0 11px 0;
	line-height:normal;
	white-space:nowrap;
}
#footer .lf {

	padding-left: 10px;
}
#footer .rf {
	padding-left: 80px;
	
}
.movie{
	position: relative;

}
.overview {
	position: absolute;
    background-color:#fff0f0 ;
	opacity: 1;
    height: 70%;
	bottom: 50px;
	width: 94%;
	display: none;
    z-index: 999;
	padding-bottom: 10px;

	
}

.movie:hover .overview{
	display: block;
	
}
.overview h3{
	color: #000000;
	font-size: 20px;
text-align: center;
}
.overview p{
	font-size: 9px;
	color: #000000;
	text-align: center;
}
.a{
display: flex;
flex-direction: row;
justify-content:space-around;
padding-bottom: 30px;
}
itemshop{
    position: relative;}
.pop{
    position: absolute;
   z-index: 10px;
    display: none;
    background-color: #fff;
    width: 200px;
    height: 100px;
    border: 1px solid black;
   
  
}
.tt{
background-color: rgb(28, 9, 9);
color: #000000;
width: 200px;
height: 50px;

text-decoration: none;

}
.ff{
	color: #000000;
}

.u{
	font-size: 15px;
	text-align: center;
}



@media screen and (max-width: 570px){
	.a{
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	#sub-navigation{
		flex-direction: column;
	
	}
	
	.z{
		display: flex;
		flex-wrap: wrap;
	}
	#footer{
		flex-direction: column;
		gap: 10px;
	}
	#logo{
		padding-left: 20px;
	}
}